<div class="bg" [ngClass]="{'show': show}">
	<div class="box">
		<div class="box-header">
			<div class="box-title">{{planeta.nombre}}</div>
			<div class="box-close" (click)="close()">X</div>
		</div>
		<div class="box-body">
			<div class="preview">
				<img [src]="planeta.image">
			</div>
			<div class="info">
				<div>
					<label for="valor">Valor</label>
					<select name="valor" id="valor" [(ngModel)]="planeta.valor">
						<option *ngFor="let valor of valores" [ngValue]="valor">{{ valor == -1 ? 'Elige un valor' : valor + '%'}}</option>
					</select>
				</div>
				<div>
					<label for="jugador">Jugador</label>
					<select name="jugador" id="jugador" [(ngModel)]="selectedJugador">
						<option [ngValue]="-1">Elige jugador</option>
						<option *ngFor="let jugador of jugadores" [ngValue]="jugador.id">{{jugador.nombre}}</option>
					</select>
				</div>
				<div>
					<label for="protegido">Protegido</label>
					<input type="checkbox" name="protegido" id="protegido" [checked]="planeta.protegido" (change)="planeta.protegido = !planeta.protegido">
				</div>
				<div>
					<label for="especial">Especial</label>
					<select name="especial" id="especial" [(ngModel)]="selectedEspecial">
						<option [ngValue]="-1">Elige especial</option>
						<option *ngFor="let especial of especiales" [ngValue]="especial.id">{{especial.nombre}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="box-footer">
			<button (click)="savePlaneta()">Guardar</button>
		</div>
	</div>
</div>