<header>
	<h1>Galaxia</h1>
	<span>
		<label for="galaxia">Galaxia</label>
		<select name="galaxia" id="galaxia" [(ngModel)]="selected.galaxia" (change)="loadSelected()">
			<option *ngFor="let galaxia of galaxias" [ngValue]="galaxia.id">{{galaxia.nombre}}</option>
		</select>
		<label for="sector">Sector</label>
		<select name="sector" id="sector" [(ngModel)]="selected.sector" (change)="loadSelected()">
			<option *ngFor="let ind of counter(numSectores);let i = index" [ngValue]="(i+1)">{{i + 1}}</option>
		</select>
		<label for="cuadrante">Cuadrante</label>
		<select name="cuadrante" id="cuadrante" [(ngModel)]="selected.cuadrante" (change)="loadSelected()">
		<option *ngFor="let ind of counter(numCuadrantes);let i = index" [ngValue]="(i+1)">{{i + 1}}</option>
		</select>
		<a routerLink="/players">Jugadores</a>
		<a routerLink="/alliances">Alianzas</a>
		<a routerLink="/specials">Especiales</a>
	</span>
</header>

<div class="container">
	<div *ngFor="let planeta of planetas" (click)="selectPlaneta(planeta)">
		<div class="valor" *ngIf="planeta.valor != -1">{{planeta.valor}}%</div>
		<div class="jugador" *ngIf="planeta.jugador != null && planeta.jugador.id != -1">
			{{planeta.jugador.nombre}}
			<span *ngIf="planeta.jugador.alianza!==null"> ({{planeta.jugador.alianza.nombre}})</span>
			<img *ngIf="planeta.jugador.raza!==null" [src]="planeta.jugador.raza.logo">
		</div>
		<img [src]="planeta.image">
		{{planeta.nombreCompleto}}
	</div>
</div>

<app-detail #detail (updateEvent)="updatePlaneta($event)"></app-detail>
