<header>
	<a routerLink="/">
		<img src="/assets/back.svg" alt="Volver">
	</a>
	<h1>Alianzas</h1>
	<a href="#" (click)="addNew($event)">Añadir nueva</a>
</header>

<div class="table">
	<div class="table-row table-header">
		<div class="table-col-10 table-col-center">ID</div>
		<div class="table-col-70">Nombre</div>
		<div class="table-col-20 table-col-center">Opciones</div>
	</div>
	<div *ngFor="let alianza of alianzas" class="table-row">
		<div class="table-col-10 table-col-center">{{alianza.id}}</div>
		<div class="table-col-70">{{alianza.nombre}}</div>
		<div class="table-col-20 table-col-icons">
			<img src="/assets/edit.svg" alt="Editar alianza" title="Editar alianza" (click)="editAlianza(alianza)">
			<img src="/assets/delete.svg" alt="Borrar alianza" title="Borrar alianza" (click)="deleteAlianza(alianza)">
		</div>
	</div>
	<div *ngIf="alianzas.length==0" class="table-row">
		<div class="table-col-100 table-col-center">Todavía no hay ninguna alianza.</div>
	</div>
</div>

<div class="modal-bg" [ngClass]="{'modal-bg-show': showModal}">
	<div class="modal-box">
		<div class="modal-header">
			<span>{{boxTitle}}</span>
			<a href="#" (click)="closeModal($event)">X</a>
		</div>
		<div class="modal-body">
			<div class="modal-row">
				<label for="nombre">Nombre de la alianza</label>
				<input type="text" name="nombre" id="nombre" [(ngModel)]="selectedAlliance.nombre">
			</div>
		</div>
		<div class="modal-footer">
			<button (click)="saveAlianza()">Guardar</button>
		</div>
	</div>
</div>